In [5]:
import pandas as pd
import numpy as np

In [8]:
train = pd.read_csv('data/train_users_2.csv')

In [137]:
train_destination = train.iloc[:,-1]
train = train.iloc[:,:-1]

In [138]:
train.head()

,id,date_account_created,timestamp_first_active,date_first_booking,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser
0,gxn3p5htnn,2010-06-28,2009-03-19 04:32:55,NaT,-unknown-,NaN,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome
1,820tgsjxq7,2011-05-25,2009-05-23 17:48:09,NaT,MALE,38.0,facebook,0,en,seo,google,untracked,Web,Mac Desktop,Chrome
2,4ft3gnwmtx,2010-09-28,2009-06-09 23:12:47,2010-08-02,FEMALE,56.0,basic,3,en,direct,direct,untracked,Web,Windows Desktop,IE
3,bjjt8pjhuk,2011-12-05,2009-10-31 06:01:29,2012-09-08,FEMALE,42.0,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Firefox
4,87mebub9p4,2010-09-14,2009-12-08 06:11:05,2010-02-18,-unknown-,41.0,basic,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome

In [151]:
test = pd.read_csv('data/test_users.csv')

In [152]:
train_destination.head()

0      NDF
1      NDF
2       US
3    other
4       US
Name: country_destination, dtype: object

In [139]:
countries = pd.read_csv('data/countries.csv')

In [140]:
countries

,country_destination,lat_destination,lng_destination,distance_km,destination_km2,destination_language,language_levenshtein_distance
0,AU,-26.853388,133.275160,15297.7440,7741220.0,eng,0.00
1,CA,62.393303,-96.818146,2828.1333,9984670.0,eng,0.00
2,DE,51.165707,10.452764,7879.5680,357022.0,deu,72.61
3,ES,39.896027,-2.487694,7730.7240,505370.0,spa,92.25
4,FR,46.232193,2.209667,7682.9450,643801.0,fra,92.06
5,GB,54.633220,-3.432277,6883.6590,243610.0,eng,0.00
6,IT,41.873990,12.564167,8636.6310,301340.0,ita,89.40
7,NL,52.133057,5.295250,7524.3203,41543.0,nld,63.22
8,PT,39.553444,-7.839319,7355.2534,92090.0,por,95.45
9,US,36.966427,-95.844030,0.0000,9826675.0,eng,0.00

In [142]:
user_demo = pd.read_csv('data/age_gender_bkts.csv')

In [143]:
user_demo

    age_bucket country_destination  gender  population_in_thousands    year
0         100+                  AU    male                      1.0  2015.0
1        95-99                  AU    male                      9.0  2015.0
2        90-94                  AU    male                     47.0  2015.0
3        85-89                  AU    male                    118.0  2015.0
4        80-84                  AU    male                    199.0  2015.0
5        75-79                  AU    male                    298.0  2015.0
6        70-74                  AU    male                    415.0  2015.0
7        65-69                  AU    male                    574.0  2015.0
8        60-64                  AU    male                    636.0  2015.0
9        55-59                  AU    male                    714.0  2015.0
10       50-54                  AU    male                    778.0  2015.0
11       45-49                  AU    male                    778.0  2015.0
12       40-44                  AU    male                    820.0  2015.0
13       35-39                  AU    male                    797.0  2015.0
14       30-34                  AU    male                    881.0  2015.0
15       25-29                  AU    male                    895.0  2015.0
16       20-24                  AU    male                    820.0  2015.0
17       15-19                  AU    male                    768.0  2015.0
18       10-14                  AU    male                    743.0  2015.0
19         5-9                  AU    male                    784.0  2015.0
20         0-4                  AU    male                    824.0  2015.0
21        100+                  AU  female                      4.0  2015.0
22       95-99                  AU  female                     25.0  2015.0
23       90-94                  AU  female                     94.0  2015.0
24       85-89                  AU  female                    179.0  2015.0
25       80-84                  AU  female                    252.0  2015.0
26       75-79                  AU  female                    338.0  2015.0
27       70-74                  AU  female                    438.0  2015.0
28       65-69                  AU  female                    592.0  2015.0
29       60-64                  AU  female                    660.0  2015.0
..         ...                 ...     ...                      ...     ...
390      25-29                  US    male                  11385.0  2015.0
391      20-24                  US    male                  11601.0  2015.0
392      15-19                  US    male                  11025.0  2015.0
393      10-14                  US    male                  10771.0  2015.0
394        5-9                  US    male                  10632.0  2015.0
395        0-4                  US    male                  10788.0  2015.0
396       100+                  US  female                     61.0  2015.0
397      95-99                  US  female                    361.0  2015.0
398        5-9                  US  female                  10201.0  2015.0
399      85-89                  US  female                   2459.0  2015.0
400      80-84                  US  female                   3394.0  2015.0
401      75-79                  US  female                   4532.0  2015.0
402      70-74                  US  female                   6179.0  2015.0
403      65-69                  US  female                   8483.0  2015.0
404      60-64                  US  female                  10004.0  2015.0
405      55-59                  US  female                  11264.0  2015.0
406      50-54                  US  female                  11413.0  2015.0
407      45-49                  US  female                  10659.0  2015.0
408        0-4                  US  female                  10306.0  2015.0
409      40-44                  US  female                  10308.0  2015.0
410      35-39                  US  female                  10352.0  2015.0
411      30-34                  US  female                  10863.0  2015.0
412      25-29                  US  female                  11011.0  2015.0
413      20-24                  US  female                  11094.0  2015.0
414       100+                  US    male                     13.0  2015.0
415      95-99                  US    male                    115.0  2015.0
416      90-94                  US    male                    541.0  2015.0
417      15-19                  US  female                  10570.0  2015.0
418      85-89                  US    male                   1441.0  2015.0
419      80-84                  US    male                   2442.0  2015.0

[420 rows x 5 columns]

In [144]:
sessions = pd.read_csv('data/sessions.csv')

In [145]:
sessions.head()

,user_id,action,action_type,action_detail,device_type,secs_elapsed
0,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,319.0
1,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,67753.0
2,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,301.0
3,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,22141.0
4,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,435.0

In [146]:
sessions.shape

(10567737, 6)

In [113]:
train.describe()

/usr/local/lib/python2.7/site-packages/numpy/lib/function_base.py:3823: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

                 age    signup_flow
count  125461.000000  213451.000000
mean       49.668335       3.267387
std       155.666612       7.637707
min         1.000000       0.000000
25%              NaN       0.000000
50%              NaN       0.000000
75%              NaN       0.000000
max      2014.000000      25.000000

In [97]:
train.date_account_created = pd.to_datetime(train.date_account_created)
train.timestamp_first_active = pd.to_datetime(train.timestamp_first_active, format = "%Y%m%d%H%M%S")
train.date_first_booking = pd.to_datetime(train.date_first_booking)
#Gender?

In [126]:
print pd.get_dummies(train.gender).head()
print pd.get_dummies(train.signup_method).head()
print pd.get_dummies(train.language).head()
print pd.get_dummies(train.affiliate_channel).head()
print pd.get_dummies(train.affiliate_provider).head()
print pd.get_dummies(train.first_affiliate_tracked).head()
print pd.get_dummies(train.signup_app).head()
print pd.get_dummies(train.first_device_type).head()
print pd.get_dummies(train.first_browser).head()

   -unknown-  FEMALE  MALE  OTHER
0        1.0     0.0   0.0    0.0
1        0.0     0.0   1.0    0.0
2        0.0     1.0   0.0    0.0
3        0.0     1.0   0.0    0.0
4        1.0     0.0   0.0    0.0
   basic  facebook  google
0    0.0       1.0     0.0
1    0.0       1.0     0.0
2    1.0       0.0     0.0
3    0.0       1.0     0.0
4    1.0       0.0     0.0
    ca   cs   da   de   el   en   es   fi   fr   hr ...    ko   nl   no   pl  \
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0  0.0
3  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0  0.0

    pt   ru   sv   th   tr   zh
0  0.0  0.0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  0.0  0.0
3  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0

[5 rows x 25 columns]
   api  content  direct  other  remarketing  sem-brand  sem-non-brand  seo
0  0.0      0.0     1.0    0.0          0.0        0.0            0.0  0.0
1  0.0      0.0     0.0    0.0          0.0        0.0            0.0  1.0
2  0.0      0.0     1.0    0.0          0.0        0.0            0.0  0.0
3  0.0      0.0     1.0    0.0          0.0        0.0            0.0  0.0
4  0.0      0.0     1.0    0.0          0.0        0.0            0.0  0.0
   baidu  bing  craigslist  daum  direct  email-marketing  facebook  \
0    0.0   0.0         0.0   0.0     1.0              0.0       0.0
1    0.0   0.0         0.0   0.0     0.0              0.0       0.0
2    0.0   0.0         0.0   0.0     1.0              0.0       0.0
3    0.0   0.0         0.0   0.0     1.0              0.0       0.0
4    0.0   0.0         0.0   0.0     1.0              0.0       0.0

   facebook-open-graph  google  gsp  meetup  naver  other  padmapper  vast  \
0                  0.0     0.0  0.0     0.0    0.0    0.0        0.0   0.0
1                  0.0     1.0  0.0     0.0    0.0    0.0        0.0   0.0
2                  0.0     0.0  0.0     0.0    0.0    0.0        0.0   0.0
3                  0.0     0.0  0.0     0.0    0.0    0.0        0.0   0.0
4                  0.0     0.0  0.0     0.0    0.0    0.0        0.0   0.0

   wayn  yahoo  yandex
0   0.0    0.0     0.0
1   0.0    0.0     0.0
2   0.0    0.0     0.0
3   0.0    0.0     0.0
4   0.0    0.0     0.0
   linked  local ops  marketing  omg  product  tracked-other  untracked
0     0.0        0.0        0.0  0.0      0.0            0.0        1.0
1     0.0        0.0        0.0  0.0      0.0            0.0        1.0
2     0.0        0.0        0.0  0.0      0.0            0.0        1.0
3     0.0        0.0        0.0  0.0      0.0            0.0        1.0
4     0.0        0.0        0.0  0.0      0.0            0.0        1.0
   Android  Moweb  Web  iOS
0      0.0    0.0  1.0  0.0
1      0.0    0.0  1.0  0.0
2      0.0    0.0  1.0  0.0
3      0.0    0.0  1.0  0.0
4      0.0    0.0  1.0  0.0
   Android Phone  Android Tablet  Desktop (Other)  Mac Desktop  Other/Unknown  \
0            0.0             0.0              0.0          1.0            0.0
1            0.0             0.0              0.0          1.0            0.0
2            0.0             0.0              0.0          0.0            0.0
3            0.0             0.0              0.0          1.0            0.0
4            0.0             0.0              0.0          1.0            0.0

   SmartPhone (Other)  Windows Desktop  iPad  iPhone
0                 0.0              0.0   0.0     0.0
1                 0.0              0.0   0.0     0.0
2                 0.0              1.0   0.0     0.0
3                 0.0              0.0   0.0     0.0
4                 0.0              0.0   0.0     0.0
   -unknown-  AOL Explorer  Android Browser  Apple Mail  Arora  Avant Browser  \
0        0.0           0.0              0.0         0.0    0.0            0.0
1        0.0           0.0              0.0         0.0    0.0            0.0
2        0.0           0.0              0.0         0.0    0.0            0.0
3        0.0           0.0              0.0         0.0    0.0            0.0
4        0.0           0.0              0.0         0.0    0.0            0.0

   BlackBerry Browser  Camino  Chrome  Chrome Mobile     ...      SeaMonkey  \
0                 0.0     0.0     1.0            0.0     ...            0.0
1                 0.0     0.0     1.0            0.0     ...            0.0
2                 0.0     0.0     0.0            0.0     ...            0.0
3                 0.0     0.0     0.0            0.0     ...            0.0
4                 0.0     0.0     1.0            0.0     ...            0.0

   Silk  SiteKiosk  SlimBrowser  Sogou Explorer  Stainless  TenFourFox  \
0   0.0        0.0          0.0             0.0        0.0         0.0
1   0.0        0.0          0.0             0.0        0.0         0.0
2   0.0        0.0          0.0             0.0        0.0         0.0
3   0.0        0.0          0.0             0.0        0.0         0.0
4   0.0        0.0          0.0             0.0        0.0         0.0

   TheWorld Browser  Yandex.Browser  wOSBrowser
0               0.0             0.0         0.0
1               0.0             0.0         0.0
2               0.0             0.0         0.0
3               0.0             0.0         0.0
4               0.0             0.0         0.0

[5 rows x 52 columns]

In [120]:
print "Dimensions", train.shape
print "Missingness for date_first_booking", sum(pd.isnull(train.date_first_booking))
print "Missingness for date_account_created", sum(pd.isnull(train.date_account_created))
print "Missingness for timestamp_first_active", sum(pd.isnull(train.timestamp_first_active))
print "Missingness for gender", sum(np.logical_or(train.gender == '-unknown-', train.gender == 'OTHER'))
print "Missingness for age", sum(pd.isnull(train.age))

Dimensions (213451, 16)
Missingness for date_first_booking 124543
Missingness for date_account_created 0
Missingness for timestamp_first_active 0
Missingness for gender 95970
Missingness for age 87990

In [36]:
np.apply_along_axis(lambda x: x, arr = train.date_first_booking, axis = 0)

array([nan, nan, '2010-08-02', ..., nan, nan, nan], dtype=object)